/* Default Styles */

html {
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Cabin, palatino, monospace;
  font-weight: 700;

  margin: 1rem 1rem 0 1rem;
  line-height: 3rem;
}

body {
  font-size: clamp(0.9rem, 1vw + 1rem, 2.2rem);
  font-family: 'Lora', trebuchet, monospace;
  line-height: 1.5rem;
}

a {
  color: teal;
  text-decoration: none;
}

/* Mobile Styles */

@media screen and (min-width: 25rem) {

  /* Homepage */

  header p {
    font-family: Cabin, palatino, monospace;
    font-weight: 700;
    font-size: 3.5rem;
    font-variant: small-caps;
    line-height: 3rem;
    text-shadow: 1px 1px 1px black;

    color: white;

    margin: 1rem;

    align-self: center;

    display: none;
  }

  h1 {
    font-size: 3rem;
  }

  .intro-text {
    max-width: 25ch;
    margin: 0rem 1rem 1rem 1rem;
  }

  /* Projects Page */

  .project-heading {
    display: none;

    color: var(--dark);

    font-size: 5rem;
    text-align: center;
    text-shadow: 3px 4px 2px white;

    margin: 3rem 0;
    width: 90vw;
  }

  .project-gallery p {
    margin: 1rem;
    border-radius: 1rem;
    padding: .5rem;

    background: white;
  }
}

/* For Tablets and Small Monitors */

@media screen and (min-width: 50rem) {

  /* Homepage */

  .intro-text {
    line-height: 1.8rem;
    max-width: 40ch;
  }

  footer {
    font-size: 1.5rem;
  }

  .project-heading {
    display: block;
  }
}

/* For Desktop */

@media screen and (min-width: 90rem) {

  /* Homepage */

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .desktop-text {
    animation: 1s ease-out 0s 1 slideInFromLeft;

    display: block;
    position: absolute;

    margin: 2rem 0 0 -50rem;

    color: var(--dark);
    text-shadow: 3px 4px 2px white;
    font-family: 'Source Sans Pro', trebuchet, monospace;

    font-size: 4rem;
    font-weight: bold;
  }

  /* Projects Page */

  .project-gallery {
    line-height: 2rem;
    font-size: 1.5rem;
  }

  /* End Fixes */

  .intro-text {
    max-width: 30ch;
    font-size: 1.3rem;
  }
}