/* Brute Force Code, needs some cleaning up.
TO DO:
- Create Hamburger Menu for Mobile layout
- stylize button, move it more central for Desktop Layout
*/

/* Default Styles */

html {
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Cabin, palatino, monospace;
  font-weight: 700;
  font-variant: small-caps;

  margin: 1rem 1rem 0 1rem;
}

body {
  background-image: url(/assets/images/mobile-background.jpg);
  background-repeat: no-repeat;
  margin: 0;
  min-width: 100vw;
  overflow-x: hidden;

  font-size: clamp(0.9rem, 1vw + 1rem, 2.2rem);
  font-family: 'Source Sans Pro', trebuchet, monospace;
  line-height: 1.5rem;

  display: flex;
}

a {
  color: teal;
  text-decoration: none;
}

 /* For Mobile */

@media screen and (min-width: 25rem) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo {
    display: flex;
    background: hsla(0, 0%, 74%, 0.44);
    border-radius: 1rem;
    margin-top: 1rem;
  }

  /* Header Image */

  header img {
    max-width: 16rem;

    border-radius: 1rem;
  }

  /* Header Text */

  header p {
    font-family: Cabin, palatino, monospace;
    font-weight: 700;
    font-size: 3.5rem;
    font-variant: small-caps;
    line-height: 3rem;
    text-shadow: 1px 1px 1px black;

    color: white;

    margin: 1rem;

    align-self: center;

    display: none;
  }

  /* Navigation */

  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-left: -2rem;
  }

  nav ul li {
    list-style: none;
  }

  nav ul li a {
    display: block;

    text-align: center;
    text-decoration: none;

    background:hsla(0, 0%, 74%, 0.44);
    color: white;
    
    padding: 1rem;
  }

  /* Main Content */

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .desktop-text {
    display: none;
  }

  .home-card {
    display: flex;
    flex-direction: column;

    background: hsla(360, 100%, 100%, 0.57);
    box-shadow: 2px 3px 5px 2px gray;
    border-radius: 1rem;
  }

  .intro-text {
    max-width: 25ch;
    margin: 1rem 1rem;
  }
  
  .home-card img {
    border-radius: 50%;
    max-width: 10rem;
    margin: 1rem;
    float: right;
    shape-outside: circle(50%)
  }

  /* Main Call to Action */

  .action-button {
    font-size: 2rem;
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;

    background-image: linear-gradient(to right, skyblue,teal, skyblue);
    color: white;

    padding: 1rem;
    border-radius: 1rem;
    margin: 0 1rem 1rem 0;

    cursor: pointer;

    align-self: flex-end;
  }

  footer {
    background: skyblue;
    width: 100vw;
    margin-top: .5rem;
  }

  footer p {
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-left: 1rem;
  }
  
  a:hover, a:active {
    box-sizing: border-box;
    border: 2px solid white;

    font-weight: bold;
    color: teal;
  }

  footer a:hover {
    border: none;
  }
}

/* For Tablets and Small Monitors */

@media screen and (min-width: 50rem) {
  body {
    background-image: url(/assets/images/faded-background-mountains.jpg);
  }

  .logo img {
    max-width: 13rem;
    border-radius: 1rem 0 0 1rem;
  }
  
  .hidden {
    display: block;
  }

  nav ul {
    display: flex;
    flex-direction: row;
  }

  div h1 {
    margin: 2rem;
  }

  .intro-text {
    line-height: 1.8rem;
    max-width: 40ch;
  }

  footer {
    align-self: flex-end;
    font-size: 1.5rem;
  }
}

/* For Desktop */

@media screen and (min-width: 90rem) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .logo img {
    max-width: 10rem;
  }

  nav ul {
    margin-left: 2rem;
  }

  main {
    align-self: stretch;
  }

  .desktop-text {
    display: block;
    position: absolute;

    margin: 2rem 0 0 -50rem;

    color: white;
    text-shadow: 2px 2px 2px gray;

    font-size: 4rem;
    font-weight: bold;
  }

   .home-card {
    align-self: flex-end;
    margin-right: 12rem;
    margin-bottom: 1rem;
  }

  .intro-text {
    max-width: 30ch;
    font-size: 1.3rem;
  }
  
  .action-button {
    position: absolute;
    margin: 10rem 40rem 0 0;
    min-width: 20rem;
  }
  
  .action-button:hover {
    text-shadow: 1px 2px 2px black;
  }
  .action-button:active {
    border: .4rem solid white;

  }
}

*::before, ::after {
  box-sizing: border-box;
}