/* Brute Force Code, needs some cleaning up.
TO DO:
- Create Hamburger Menu for Mobile layout
*/

/* Default Styles */
:root {
  --dark: #094f47;
  --medium: ;
  --light: ;
  --w: ;
  --transparent: ;
}

html {
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Cabin, palatino, monospace;
  font-weight: 700;
  font-variant: small-caps;

  margin: 1rem 1rem 0 1rem;
}

body {
  background-image: url(/assets/images/mobile-background.jpg);
  background-size: cover;
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;

  overflow-x: hidden;

  font-size: clamp(0.9rem, 1vw + 1rem, 2.2rem);
  font-family: 'Source Sans Pro', trebuchet, monospace;
  line-height: 1.5rem;

  display: flex;
}

a {
  color: teal;
  text-decoration: none;
}

 /* For Mobile */

@media screen and (min-width: 25rem) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo {
    display: flex;
    background: var(--dark);
    border-radius: 1rem;
    margin-top: 1rem;
  }

  /* Header */

  header img {
    max-width: 16rem;

    border-radius: 1rem;
  }

  header p {
    font-family: Cabin, palatino, monospace;
    font-weight: 700;
    font-size: 3.5rem;
    font-variant: small-caps;
    line-height: 3rem;
    text-shadow: 1px 1px 1px black;

    color: white;

    margin: 1rem;

    align-self: center;

    display: none;
  }

  /* Navigation */

  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-left: -2rem;
  }

  nav ul li {
    list-style: none;
  }

  nav ul li a {
    display: block;

    text-align: center;
    text-decoration: none;

    background:var(--dark);
    color: white;
    
    padding: 1rem;
  }

  /* Main Content */

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-heading {
    display: none;
  }

  .desktop-text {
    display: none;
  }

  .card {
    display: flex;
    flex-direction: column;

    background: hsla(360, 100%, 100%, 0.57);
    box-shadow: 2px 3px 5px 2px gray;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }

  .intro-text {
    max-width: 25ch;
    margin: 1rem 1rem;
  }
  
  .home {
    border-radius: 50%;
    max-width: 10rem;
    margin: 1rem;
    float: right;
    shape-outside: circle(50%)
  }

  /* Styles for Project Gallery */

  .project-heading {
    color: var(--dark);

    font-size: 5rem;
    text-shadow: 3px 4px 2px white;

    margin: 3rem 0 -1rem 0;
  }

  .project-gallery {
    display: flex;
    flex-direction: column;
    max-width: 30ch;
    }
    
  .project-gallery > * {
    flex: 1 1 250px;
    margin-top: 1rem;
    text-align: center;
  }

  .project-gallery p {
    margin: 1rem;
    border-radius: 1rem;
    padding: .5rem;

    background: white;
  }

  .project-gallery a:hover, .project-gallery a:active {
    border: none;
  }

  .project-gallery img {
    max-width: 20ch;
    margin-top: 1rem;
  }

  /* Main Call to Action */

  .action-button {
    font-size: 2rem;
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;

    background-image: linear-gradient(to right, skyblue,teal, skyblue);
    color: white;

    padding: 1rem;
    border-radius: 1rem;
    margin: 0 1rem 1rem 0;

    cursor: pointer;

    align-self: flex-end;
  }

  /* Footer Styles */

  footer {
    background: var(--dark);
    min-width: 100vw;
  }

  footer p {
    color: white;
    margin-left: 1rem;
  }

  footer a {
    color: white;
  }
  
  /* states */

  a:hover, a:active {
    box-sizing: border-box;
    border: 2px solid white;

    font-weight: bold;
    color: teal;
  }

  footer a:hover {
    border: none;
  }
}

/* For Tablets and Small Monitors */

@media screen and (min-width: 50rem) {
  body {
    background-image: url(/assets/images/faded-background-mountains.jpg);
    background-size: cover;
  }

  .logo img {
    max-width: 13rem;
    border-radius: 1rem 0 0 1rem;
  }
  
  .hidden {
    display: block;
  }

  nav ul {
    display: flex;
    flex-direction: row;
  }
  
  .left-end a {
    border-radius: 1rem 0 0 1rem;
  }

  .right-end a {
    border-radius: 0 1rem 1rem 0;
  }

  div h1 {
    margin: 2rem;
  }

  .intro-text {
    line-height: 1.8rem;
    max-width: 40ch;
  }

  .project-gallery {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    gap: 1rem;

    margin-bottom: 2rem;
  }

  footer {
    font-size: 1.5rem;
  }
}

/* For Desktop */

@media screen and (min-width: 90rem) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .logo img {
    max-width: 10rem;
  }

  nav ul {
    margin-left: 2rem;
  }

  main {
    align-self: stretch;
  }

  .desktop-text {
    display: block;
    position: absolute;

    margin: 2rem 0 0 -50rem;

    color: var(--dark);
    text-shadow: 3px 4px 2px white;

    font-size: 4rem;
    font-weight: bold;
  }

   .card {
    align-self: flex-end;
    margin-right: 12rem;
    margin-bottom: 3rem;
  }

  .project-heading {
    display: block;
  }

  /* Fix for cards on Project page */
  .project-gallery {
    display: flex;
    flex-direction: row;

    margin: 5.59rem 0;

    font-size: 1rem;
  }

  .project-gallery .card {
    margin: 1rem;
  }

  .project-gallery .card img {
    max-width: 22rem;
  }

  /* End fix */

  .intro-text {
    max-width: 30ch;
    font-size: 1.3rem;
  }
  
  .action-button {
    position: absolute;
    margin: 10rem 40rem 0 0;
    min-width: 20rem;
  }
  
  .action-button:hover, .action-button:active  {
    text-shadow: 1px 2px 2px black;
    border: .4rem solid white;
  }

*::before, ::after {
  box-sizing: border-box;
}