/* Color Palette */
:root {
  --mustard: #ffde59;
  --hover: #d1b647;
  --eerie: #1f1f1f;
  --davy: #5f5f5f;
  --white: #ffffff;
}

/* Set some overall rules */
body {
  margin: 0;
  background-color: var(--eerie);
}

img {
  border-radius: 50%;
  background-color: var(--mustard);
  position: relative;
  bottom: 5rem;
}

ul {
  list-style: none;
}

/* Make the header navigation pretty */
#header {
  display: flex;

  position: sticky;
  top: 0;

  width: 100%;

  background-color: var(--mustard);

  border-bottom: 1px solid var(--davy);

  z-index: 1;
}

#header-nav {
  margin-left: -1.2rem;
}

#header-nav ul {
  display: flex;
  flex-direction: row;
  margin-left: -1rem;
}



#header-nav ul li a {
  padding: 1rem .2rem 1rem 1rem;
}



/* Style the Home Page */
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100vh;
  background-color: var(--davy);
}

/* Styles for Projects Section */

#projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* Card Styles for all! */

.card {
  background-color: var(--white);
  margin: 3rem;
}

/* Stylings for the About section */

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--mustard);
}

#about img {
  margin-top: 5rem;
}

#about ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
  margin-left: -2rem;
}

#about ul li {
  margin: 1rem;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 10px;
}

/* Make the Skills Section pretty!*/

#skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  background-color: var(--davy);
}

/* Make the contact section visible and good lookin */

#contact {
  background-color: var(--mustard);
  padding-bottom: 2rem;
}

#contact ul {
  margin-top: -2rem;
  margin-left: -2rem;
}

/* Now for some media queries */

@media only screen and (min-width: 600px) {
  #home {
    background-image: URL('../images/tech-back.jpg');
  }
  
  #header-nav ul li {
    border-right: 2px solid transparent;
  }
  #header-nav ul li a {
    padding: .5rem;
  }

  #header-nav ul li:hover {
    border-right: 2px solid var(--eerie); 
  }
}